/* ============================
    Base Element Styles
============================ */

* {
    box-sizing: border-box; /* border box forces the padding and borders into the width and height of the elements instead of expanding them. That way, it will take up exactly 70% of the viewport width */
}

.container {
  padding: 0 1em;
}

/* ============================
    Header
============================ */

.header { 
  text-align: center;
  padding: 1px 10px;
  background: grey;
  color: white;
  text-transform: uppercase;
}


/* ============================
    Info Section
============================ */

.info-section {
  text-align: center;
  padding: 10px 0;
}

.info-section .container {
  border-bottom: solid;
}


/* ============================
    Form Section
============================ */

input {
  height: 1.75em;
  width: 100%
}

.checkbox {
  width: 5%;
}

button {
  width: 100%;
}

.footer {
  text-align: center;
}

/* ============================
    Media Queries
============================ */

@media (min-width: 769px) { /* Treehouse suggests 769px instead of 600px */

  
  
}

  
@media (min-width: 1200px) {

  
    
}