/* ============================
    Base Element Styles
============================ */

* {
    box-sizing: border-box; /* border box forces the padding and borders into the width and height of the elements instead of expanding them. That way, it will take up exactly 70% of the viewport width */
}

.container {
  padding: 0 1em;
}

/* ============================
    Header
============================ */

.header { 
  text-align: center;
  padding: 1px 10px;
  background: grey;
  color: white;
  text-transform: uppercase;
}


/* ============================
    Info Section
============================ */

.info-section {
  text-align: center;
  padding: 10px 0;
}

.info-section .container {
  border-bottom: solid;
}


/* ============================
    Form Section
============================ */

.checkbox {

}

button {
  width: 100%;
}


/* ============================
    Form Section
============================ */

form {
  margin: 0 auto;
  
}

.item {
  display: block;
}


label {
  display: block;
  text-align: left;
  
}

input {
  display: block;
  width: 100%;
  margin-top: .3em;
}

form div + div {
    margin-top: 1em;
}

select {
  width: 100%;
}

#zipcode {
  width: 50%;
}

.block .checkbox {
  display: inline-block;
  width: 5%;
}

.radio-label {
  display: inline-block;
  width: 50%;
}

textarea {
  width: 100%;
  margin-bottom: 1em;
}

/* ============================
    Footer Section
============================ */

.footer {
  text-align: center;
  margin: 2em;
}


/* ============================
    Media Queries
============================ */

@media (min-width: 769px) { /* Treehouse suggests 769px instead of 600px */

  
  
}

  
@media (min-width: 1200px) {

  
    
}