/* ============================
    Base Element Styles
============================ */

* {
    box-sizing: border-box; /* border box forces the padding and borders into the width and height of the elements instead of expanding them. That way, it will take up exactly 70% of the viewport width */
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 0 1em;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: none;
}


/* ============================
    Header
============================ */

.header { 
  text-align: center;
  padding: 1px 10px;
  background: grey;
  color: white;
  text-transform: uppercase;
}


/* ============================
    Info Section
============================ */

.info-border {
  text-align: center;
  padding: 10px 0;
  border-bottom: double 5px;
}


/* ============================
    Form Section
============================ */

.item input, 
select {
  display: block;
  width: 100%;
  margin-top: .3em;
  height: 3em;
  border: 0px solid;
  border-radius: 7px;
  background-color: #DCDCDC;
}

textarea {
  border: 0px solid;
  border-radius: 7px;
  background-color: #DCDCDC;
  resize: none;
  width: 100%;
  margin-bottom: 1em;
}

button {
  width: 100%;
  height: 4em;
  background-color: green;
  color: white;
  border: 0px solid;
  border-radius: 7px;
}

form {
  margin: 0 auto;
  
}

.item {
  display: block;
}


label {
  display: block;
  text-align: left;
}

form div + div {
    margin-top: 1em;
}

select {
  width: 100%;
}

#zipcode {
  width: 50%;
}

.block .checkbox {
  display: inline-block;
  width: 5%;
}

.radio-label {
  display: inline-block;
  width: 50%;
}

.form-contact {
  padding-bottom: 30px;
  border-bottom: solid;
}

.signup-button {
  font-size: 1.5em;
}

/* ============================
    Animation
============================ */

input:focus,
textarea:focus {
  background-color: lightcyan;
}


/* ============================
    Footer Section
============================ */

.footer {
  text-align: center;
  margin: 2em;
}


/* ============================
    Media Queries
============================ */

@media (min-width: 760px) { /* Treehouse suggests 769px instead of 600px */
  
  .container {
    width: 70%;
    margin: 0 auto;
  }

  .flex-container {
    display: flex;
    width: 100%;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .flex-item1 {
    width: 30%;
  }
  
  .flex-item2 {
    flex: 2;
    align-self: flex-start;
  }
  
  #zipcode {
    width: 20%;
  }
  
}

  
@media (min-width: 1200px) {

  .container {
    width: 50%;
    margin: 0 auto;
  }
    
}